/* Basic Style */

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

ul {
  margin: 0;
  padding: 0px;
}

input, 
button {
  outline: none;
}

button {
  font-family: "Lato", sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__link {
  font-family: "Fantasy", cursive;
  font-weight: 300;
}

@media (max-width:768px) {

  .header { 
    text-align: center;
  }

}

.todo {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.label--task, 
.input--task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.todo__input-wrapper {
  display: flex;
}

.todo__button {
  border: 0px;
  background: none;
  color: #888;
  font-size: 15px;
  width: 60px;
  cursor: pointer;
}

.todo__button:hover {
  color: #3a3a3a;
}

/* Heading */

.todo__heading {
  color: #333;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.input--task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}

.input--task:focus {
  color: #333;
}

/* Task list */

.items-list__item-edit, 
.items-list__item-save,
.items-list__item-complete {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}

.input--checkbox {
  margin: 0 10px;
}

.label--task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.items-list .input--task, 
.label--task {
  width: 226px;;
}

.button--delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button--delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */

.todo__completed__list .label--task {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.items-list .input--task {
  display: none;
}

.items-list__item-save .input--task {
  display: inline-block;
  width: 224px;
}

.items-list__item-save .label--task {
  display: none;
}